<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teach.mapper.TeachMenuItemMapper">

    <resultMap type="com.ruoyi.teach.domain.entity.TeachMenuItem" id="TeachMenuItemResult">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="title" column="title"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="icon" column="icon"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isLink" column="is_link"/>
        <result property="menuType" column="menu_type"/>
        <result property="isHide" column="is_hide"/>
        <result property="isKeepAlive" column="is_keep_alive"/>
        <result property="isAffix" column="is_affix"/>
        <result property="permission" column="permission"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <select id="selectByMenuIds" resultMap="TeachMenuItemResult">
        <if test="menuIds != null and menuIds.size() > 0">
            SELECT * FROM sys_menus WHERE menu_id IN
            <foreach item="item" index="index" collection="menuIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND status = 0
            AND menu_type != 'F'
        </if>
        <if test="menuIds == null or menuIds.size() == 0">
            SELECT * FROM sys_menus WHERE 1 = 0
        </if>
    </select>
</mapper>